body {
  margin: 10px 50px;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  /* font-family: 'Teko', sans-serif; */
  background: #a1ffce; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #74be52,
    #a1ffce
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f2ff7c,
    #a1ffce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transition: background 0.5s ease-in-out;
}

header {
  display: flex;
  border: 5px #476247 solid;
  box-shadow: 2px 2px 8px 12px rgba(48, 87, 94, 0.533);
  border-radius: 0 100px;
  justify-content: space-around;
  background-color: #56ab2f;
  opacity: 0.8;
  background-image: linear-gradient(135deg, #56ab2f 25%, transparent 25%),
    linear-gradient(225deg, #ffff 25%, transparent 25%),
    linear-gradient(45deg, #56ab2f 25%, transparent 25%),
    linear-gradient(315deg, #ffff 25%, #ffff 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
}

.navigasi {
  display: flex;
}

.wrapper {
  height: 90px;
}

li {
  margin: 13px;
  width: 120px;
  list-style: none;
}

a {
  position: absolute;
  box-shadow: 3px 5px 4px rgb(51, 50, 50);
  text-decoration: none;
  background: #476247;
  color: white;
  padding: 6px;
  border: 2px solid #ffff;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

a:hover {
  transform: translate(-0.5rem, 0.5rem);
  zoom: 110%;
  zoom: 110%;
  font-size: 1.2em;
  font-style: italic;
  color: #476247;
  border: 2px solid #476247;
  background: #a1ffce; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #74be52,
    #a1ffce
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f2ff7c,
    #a1ffce
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.deskripsi {
  position: relative;
  text-align: center;
  width: 30vw;
  margin-top: 20px;
  padding: 4px;
}

.logo {
  font-family: "Rubik", sans-serif;
  font-family: "Rubik Distressed", cursive;
  color: #f3bea5;
  padding: 0 10px 0 10px;
  border: 5px solid #476247;
  border-radius: 20px;
  background: #ffff;
  font-size: 1.8em;
  font-style: italic;
}

footer {
  display: flex;
  justify-content: center;
  /* border: 1px solid yellow; */
}

.kaktus {
  height: 360px;
}


@media only screen and (max-width: 480px) {

  header {
    display: flex;
    flex-wrap:wrap;
  }

  main {
    margin-top: 50px;
    font-size: 1.2em;
    height: auto;
    align-items: center;
    display: block;
  }

  .logo {
    margin-right: 10px;
    text-align: center;
  }

  .deskripsi {
    justify-content: center;
    text-align: center;
    width: auto;
  }
  
  .ilustrasi img {
    padding-left: 70px;
    height: 300px;
  }

  #navbar{
    width: 400px;
  }
  
  .order{
    display: flex;
   } 


   .flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    margin-top: 50px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 80%;
    height: 80%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: all 1s ease-in-out;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 14px 12px rgba(0, 0, 0, 0.178);
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #f3bea5;
    color: white;
    transform: rotateY(180deg);
  }
  
  .dc{
    text-align: center;
  }
  

  }
  @media only screen and (max-width: 400px) {
    header {
  }

  main {
    margin-top: 50px;
    font-size: 1.2em;
    height: auto;
    align-items: center;
    display: block;
  }
  
  .wrapper {
    padding: 0;
  }
  
  .logo {
    margin-right: 10px;
    text-align: center;
  }
  
  #navbar{
    justify-content: space-around;
    position: relative;
   margin-left: 0;
    width: 360px;
  }

  .navigasi{
    justify-content: space-around;
    position: relative;
    right: 10px;
  }
  li {
    margin: 13px;
    width: 100px;
    list-style: none;
  }

  .deskripsi {
    justify-content: center;
    text-align: center;
    width: auto;
  }

  .ilustrasi img {
    height: 260px;
    padding-left: 60px;
  }

  element.style {
    --size: 20px;
  }

.dc{
  text-align: center;
}


}

/* ANINMASI GAMBAR */

.animasi {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}
.bounce:hover {
  animation-name: bounce;
  animation-timing-function: ease;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}

.reverse {
  flex-direction: row-reverse;
}

.b-bt {
  border-bottom: 5px #fff solid;
  border-radius: 50px;
}

@media only screen and (max-width: 400px) {
  input {
    size: 20px;
  }
}


/* style tombol tema */
.switch {
  position: fixed;
  z-index: 1;
  right: 10px;
  --inactive-bg: #cfd8dc;
  --active-bg: #00e676;
  --size: 2rem;
  appearance: none;
  width: calc(var(--size) * 2.2);
  height: var(--size);
  display: inline-block;
  border-radius: calc(var(--size) / 2);
  cursor: pointer;
  background-color: var(--inactive-bg);
  background-image: radial-gradient(
      circle calc(var(--size) / 2.1),
      rgb(255, 255, 255) 100%,
      #0000 0
    ),
    radial-gradient(circle calc(var(--size) / 1.5), #0003 0%, #0000 100%);
  background-repeat: no-repeat;
  background-position: calc(var(--size) / -1.75) 0;
  transition: background 0.2s ease-out;
}
.switch:checked {
  background-color: var(--active-bg);
  background-position: calc(var(--size) / 1.75) 0;
}


/* FLIP CARD */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
  transition: all 1s ease-in-out;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 14px 12px rgba(0, 0, 0, 0.178);
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #f3bea5;
  color: white;
  transform: rotateY(180deg);
}

.dc{
  text-align: center;
}


/* TEMA DARK MODE */
.dark-mode {
  background: linear-gradient(to left, #2b4046, #325e4d);
}

.dark-mode header {
  display: flex;
  border: 5px rgba(0, 0, 0, 0.432) solid;
  box-shadow: 2px 2px 8px 12px rgba(18, 32, 34, 0.533);
  border-radius: 0 100px;
  justify-content: space-around;
  background-color: #1e2b18;
  opacity: 0.8;
  background-image: linear-gradient(135deg, #374b2e 25%, transparent 25%),
    linear-gradient(225deg, rgb(19, 44, 41) 25%, transparent 25%),
    linear-gradient(45deg, #283122 25%, transparent 25%),
    linear-gradient(315deg, rgb(51, 70, 40) 25%, rgb(32, 85, 73) 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
}

.dark-mode .logo {
  border: 5px white solid;
  background: #1e2b18;
}

.dark-mode .deskripsi {
  color: white;
}

.dark-mode a {
  position: absolute;
  box-shadow: 3px 5px 4px black;
  text-decoration: none;
  background: #ffff;
  color: black;
  padding: 6px;
  border: 2px solid #1e2b18;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.dark-mode a:hover {
  transform: translate(-0.5rem, 0.5rem);
  zoom: 110%;
  font-size: 1.2em;
  font-style: italic;
  color: #ffff;
  border: 2px solid #ffff;
  background: #a1ffce;
  background: -webkit-linear-gradient(to right, #74be52, #a1ffce);
  background: linear-gradient(to right, #374b2e, #1e2b18);
}

.dark-mode .flip-card-front, .flip-card-back {
  box-shadow: 14px 12px rgba(209, 209, 209, 0.486);
}

.dark-mode h2{
  color: white;
}
